name: CI/CD Docker

on:
  push:
    branches: [ main ]

env:
  DOCKER_IMAGE: ghcr.io/${{ github.repository_owner }}/voco-server
  VERSION: ${{ github.sha }}
  CONTAINER_NAME: voco-server

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set Build YML
        run: |
          mkdir -p src/main/resources
          echo "${{ secrets.PROD_APPLICATION_YML }}" | base64 --decode > src/main/resources/application.yml

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Set up Docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ env.VERSION }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:${{ env.VERSION }}
          context: .
          file: Dockerfile
          no-cache: true

  deploy:
    needs: build
    name: Deploy
    runs-on: [ self-hosted, voco-server-deploy ]
    permissions:
      contents: read
      packages: read
    steps:
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker run
        run: |
          docker rm -f ${{ env.CONTAINER_NAME }} || true
          docker run -d -p 8080:8080 \
            --name ${{ env.CONTAINER_NAME }} \
            --cpus=1 \
            --restart always \
            ${{ env.DOCKER_IMAGE }}:${{ env.VERSION }}
          
          docker image prune -af
